<<<<<<< HEAD
<center>
<table>  
<tr>
	<td><b>Miasto</b></td>
	<td><b>Adres</b></td>
	<td><b>Opis</b></td>
	<td><b>Zdjęcie</b></td>
	<td><b>Uzytkownik</b></td>
</tr>

  <% @test.each do |c| %>
   	<tr>
	<td><%= c.miasto %></td>
	<td><%= c.adres %></td>
	<td><%= c.opis %></td>
	<td><%= image_tag c.image.url, size:"640x640"  %></td>
	<td><%= link_to(c.user_id, user_path(c.user_id)) %></td>
	<% if current_user.is_admin == "y" %>
		<td><%= link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
	</tr>

   <% end %>
 </table>
=======
<center>
<table>  
<tr>
	<td><b>Miasto</b></td>
	<td><b>Adres</b></td>
	<td><b>Opis</b></td>
	<td><b>Zdjęcie</b></td>
	<td><b>Uzytkownik</b></td>
</tr>

  <% @test.each do |c| %>
   	<tr>
	<td><%= c.miasto %></td>
	<td><%= c.adres %></td>
	<td><%= c.opis %></td>
	<td><%= image_tag c.image.url, size:"640x640"  %></td>
	<td><%= link_to(c.user_id, user_path(c.user_id)) %></td>
	</tr>

   <% end %>
 </table>
>>>>>>> a867c4911a19ab7c3ee926780a236765a42ebd6a
 </center>