<% if logged_in? %>
<li><%= link_to "Dodaj Miejscowke", new_place_path %></li>
<li><%= link_to "Lista Miejsc", new_exsist_path %></li>
<li><%= link_to "Log out", new_session_path, method: "delete" %></li>
<% else %>
<li><%= link_to "Lista Miejsc", new_exsist_path %></li>
<li><%= link_to "Zaloguj Się", new_session_path %></li>
<li><%= link_to "Zarejestruj Się", new_user_path %></li>
<% end %>